<% include ../includes/head.ejs %>
<body>
    <% include ../includes/navbar.ejs %>
    <% include ./fubao-payoffCredit.ejs %> 
    <% include ../includes/footer.ejs %> 
    <% include ../includes/script.ejs %>
    <script src='./js/bootstrap-select.min.js'></script>
    <script src="./js/payoffCredit.js"></script>
</body>
</html>