<div class="my-intrgral">
    <div class="container"> 
        <div class="score-panel clearfix">
            <div class="pull-left">
                <p>
                    <span>您当前的积分</span>
                    <i class="icon-Exclamation"></i>
                </p>
                <p class="score">476.00</p>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-fubao">转入支付宝</button>
                <button type="button" class="btn btn-fubao">信用卡还款</button>
            </div>
        </div>
        <div class="control-panel clearfix">
            <div class="pull-left">
                <h3>历史交易详情</h3>
            </div>
            <div class="pull-right">
                <select class="selectpicker input-control">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
                <select class="selectpicker input-control">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
            </div>
            
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>交易号</th>
                        <th>交易时间</th>
                        <th>数量（积分）</th>
                        <th>交易项目</th>
                        <th>状态</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td><span class="contrast increase">+300.00</span></td>
                        <td>充值</td>
                        <td>
                            <span class="state succ">交易成功</span>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td><span class="contrast decrease">-300.00</span></td>
                        <td>充值</td>
                        <td>
                            <span class="state fail">交易失败</span>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td><span class="contrast increase">+300.00</span></td>
                        <td>充值</td>
                        <td>
                            <span class="state succ">交易成功</span>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td><span class="contrast increase">+300.00</span></td>
                        <td>充值</td>
                        <td>
                            <span class="state succ">交易成功</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class='page-cyber' aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li> 
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>                                                                                       
        </nav>
    </div>
</div>