<div class="my-intrgral">
    <div class="container"> 
        <h3>我的积分</h3>
        <div class="score-panel col-centered">
            <p>您当前的积分</p>
            <p class="score">476.00</p>
            <input class='btn action-button full-width' type="button" value='积分兑换'>
        </div>
        <div class="control-panel">
            <select name="" id="" class='input-control'>
                <option value="one">近三个月</option>
            </select>
            <select name="" id="" class='input-control'>
                <option value="one">全部交易</option>
            </select>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>交易号</th>
                        <th>交易时间</th>
                        <th>数量（积分）</th>
                        <th>交易项目</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td>+300.00</td>
                        <td>充值</td>
                        <td>
                            <a href="">查看明细</a>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td>+300.00</td>
                        <td>充值</td>
                        <td>
                            <a href="">查看明细</a>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td>+300.00</td>
                        <td>充值</td>
                        <td>
                            <a href="">查看明细</a>
                        </td>
                    </tr>
                    <tr>
                        <td>CZ9130481412</td>
                        <td>2018-06-24 19:58</td>
                        <td>+300.00</td>
                        <td>充值</td>
                        <td>
                            <a href="">查看明细</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class='page-cyber' aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
                <li><a href="#">1</a></li> 
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            </ul>                                                                                       
        </nav>
    </div>
    
</div>